/*=================== Fonts =======================*/
@font-face { font-family: 'Calibri'; src: url('../fonts/Calibri.ttf'); }
@font-face { font-family: 'Yekan'; src: url('../fonts/Yekan.woff'); }
@font-face { font-family: 'Dinar'; src: url('../fonts/Dinar.ttf'); }

.dinar { font-family: 'Dinar' }
.yekan { font-family: 'Yekan' }
.calibri { font-family: 'Calibri' }

body {font-family: 'Yekan'; overflow-x: hidden;}

/*=================== Generals =======================*/
.tooltip-inner { font-family: 'Dinar';}
.hidden { display: none;}
.hidden { cursor: pointer;}
.round-corners { border-radius: 10px;}

button {cursor: pointer}
button.link {background: none; border:none;}

a {-webkit-transition: 0.5s; transition: 0.5s;}

th {text-align: center;}

i.small {font-size: 0.6em}

.custom-control-indicator {position: absolute; right: 0;}
.custom-control-description {margin-right: 25px;}

/*=================== Main =======================*/
/*main {min-height: 80vh}*/

/*=================== Are You Sure =======================*/
.are-you-sure {display: none; position: fixed; padding: 25px 100px; bottom: 50px; left: 50px; z-index:10}
/*=================== Others =======================*/
.flash {position: fixed; bottom: 25px; left: 25px; z-index: 10; padding: 20px 50px}
.credit { border: 2px solid #0083FF; padding: 10px 30px; margin:10px;}
.mt30 {margin-top: 30px;}

.stars i {
  color: Gold; cursor: pointer;
}
select {
  font-family: 'Calibri'
}

/*=================== Dashboard =======================*/
.dashboard {
  background: #50ada3;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-size:0.92em;
}
.dashboard a {
  color: #202020;
  display: block;
  padding: 10px 6px;
}
.dashboard a.active {
  background-color: #16222A;
  color: snow;
  font-size: 0.9em;
}

.dashboard a:hover {
  color: snow;
  text-decoration: none;
  background: #085078;
}

.rotate {
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

.flip {
  transform: rotate(-180deg);
}
.drop a {
  padding-right: 12px;
}

a.mother {
  font-weight: bolder;
}

/*=================== Top Bar =======================*/
.topbar {
  background-color: Lavender;
}
